In [17]:
import pandas as pd

path_file = r"C:\Users\JS982PS\Documents\Oil-Stock-Project\camada_bronze\ipca_mensal.xlsx"

df = pd.read_excel(path_file)

df = df.applymap(lambda x: str(x).replace('"', '').replace(',', '.'))
df.columns = df.columns.str.replace('"', '')

for column in df.columns[1:]:
    df[column] = df[column].str.replace('%', '').astype(float)

output_path = r"C:\Users\JS982PS\Documents\Oil-Stock-Project\camada_prata\ipca_mensal_clean.xlsx"

df.to_excel(output_path, index=False)

print(f"Arquivo salvo em: {output_path}")

display(df)

Arquivo salvo em: C:\Users\JS982PS\Documents\Oil-Stock-Project\camada_prata\ipca_mensal_clean.xlsx

C:\Users\JS982PS\AppData\Local\Temp\ipykernel_5176\352395632.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x).replace('"', '').replace(',', '.'))

,Ano,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,2024,0.42,0.83,0.16,0.38,0.46,0.21,0.38,-0.02,0.44,0.56,0.39,0.52,4.83
1,2023,0.53,0.84,0.71,0.61,0.23,-0.08,0.12,0.23,0.26,0.24,0.28,0.56,4.62
2,2022,0.54,1.01,1.62,1.06,0.47,0.67,-0.68,-0.36,-0.29,0.59,0.41,0.62,5.78
3,2021,0.25,0.86,0.93,0.31,0.83,0.53,0.96,0.87,1.16,1.25,0.95,0.73,10.06
4,2020,0.21,0.25,0.07,-0.31,-0.38,0.26,0.36,0.24,0.64,0.86,0.89,1.35,4.52
5,2019,0.32,0.43,0.75,0.57,0.13,0.01,0.19,0.11,-0.04,0.10,0.51,1.15,4.31
6,2018,0.29,0.32,0.09,0.22,0.40,1.26,0.33,-0.09,0.48,0.45,-0.21,0.15,3.75
7,2017,0.38,0.33,0.25,0.14,0.31,-0.23,0.24,0.19,0.16,0.42,0.28,0.44,2.95
8,2016,1.27,0.90,0.43,0.61,0.78,0.35,0.52,0.44,0.08,0.26,0.18,0.30,6.29
9,2015,1.24,1.22,1.32,0.71,0.74,0.79,0.62,0.22,0.54,0.82,1.01,0.96,10.67
10,2014,0.55,0.69,0.92,0.67,0.46,0.40,0.01,0.25,0.57,0.42,0.51,0.78,6.41
11,2013,0.86,0.60,0.47,0.55,0.37,0.26,0.03,0.24,0.35,0.57,0.54,0.92,5.91
12,2012,0.56,0.45,0.21,0.64,0.36,0.08,0.43,0.41,0.57,0.59,0.60,0.79,5.84
13,2011,0.83,0.80,0.79,0.77,0.47,0.15,0.16,0.37,0.53,0.43,0.52,0.50,6.50
14,2010,0.75,0.78,0.52,0.57,0.43,0.00,0.01,0.04,0.45,0.75,0.83,0.63,5.91