In [ ]:
import os
from sqlalchemy import create_engine
import pandas as pd

# Obtenção das variáveis de ambiente
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_name = os.getenv('DB_NAME')
db_ssl_mode = os.getenv('DB_SSL_MODE', 'require')  # Valor padrão 'require' caso não esteja configurado

# Construir a URL de conexão
db_url = f'postgresql://{db_user}:{db_password}@{db_host}/{db_name}?sslmode={db_ssl_mode}'

# Criar o motor de conexão
engine = create_engine(db_url)

In [ ]:
# Caminhos dos arquivos CSV
join_file_path = 'camada_ouro/Join_dataframes_new_end.csv'
prev_close_real = 'camada_ouro/comparison_real_vs_preds_vs_erros_Real.csv'
prev_close_dolar = 'camada_ouro/comparison_real_vs_preds_vs_erros_Dolar.csv'
prev_price_petro = 'camada_ouro/comparison_real_vs_preds_vs_erros_Petro.csv'

# Carregar os arquivos CSV
join_df = pd.read_csv(join_file_path)
prev_real = pd.read_csv(prev_close_real)
prev_dolar = pd.read_csv(prev_close_dolar)
prev_petro = pd.read_csv(prev_price_petro)

In [72]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               180 non-null    object
 1   Close_Real_EYAC2   180 non-null    float64
 2   Volume_EYAC2       180 non-null    float64
 3   Close_Dolar_EYAC2  180 non-null    float64
 4   Price_Dolar_Petro  180 non-null    float64
 5   Volume_Petro       180 non-null    float64
 6   Índice_Ibovespa    180 non-null    float64
 7   Year-Month         180 non-null    object
 8   Value_IPCA         180 non-null    object
 9   Inflac_IPCA        180 non-null    float64
 10  IPCA_Acumulado     180 non-null    float64
dtypes: float64(8), object(3)
memory usage: 15.6+ KB

In [73]:
prev_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              35 non-null     object
 1   target_Real       35 non-null     float64
 2   target_Predicted  35 non-null     float64
 3   percentual_erro   35 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.2+ KB

In [74]:
colunas =['target_Real', 'target_Predicted', 'percentual_erro']

prev_real[colunas] = prev_real[colunas].astype("str")

prev_real[colunas] = prev_real[colunas].map(lambda x: x.replace(".",","))

prev_real.head(2)

         Date  target_Real   target_Predicted     percentual_erro
0  2022-01-31  34,42127725   33,2069701953392  3,5277803488852237
1  2022-02-25  33,02555447  33,57244957492401  1,6559755428808844

In [75]:
prev_dolar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              35 non-null     object
 1   target_Real       35 non-null     float64
 2   target_Predicted  35 non-null     float64
 3   percentual_erro   35 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.2+ KB

In [76]:
colunas =['target_Real', 'target_Predicted', 'percentual_erro']

prev_dolar[colunas] = prev_dolar[colunas].astype("str")

prev_dolar[colunas] = prev_dolar[colunas].map(lambda x: x.replace(".",","))

prev_dolar.head(2)

         Date        target_Real   target_Predicted     percentual_erro
0  2022-01-31  6,489193358344017  6,923172643829433   6,687723134762071
1  2022-02-25  5,782088427263337  6,914152999514766  19,578818042864757

In [77]:
prev_petro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              35 non-null     object
 1   target_Real       35 non-null     float64
 2   target_Predicted  35 non-null     float64
 3   percentual_erro   35 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.2+ KB

In [78]:
colunas =['target_Real', 'target_Predicted', 'percentual_erro']

prev_petro[colunas] = prev_petro[colunas].astype("str")

prev_petro[colunas] = prev_petro[colunas].map(lambda x: x.replace(".",","))

prev_petro.head(2)

         Date target_Real   target_Predicted     percentual_erro
0  2022-01-31       89,89  82,14292240000296   8,618397597059786
1  2022-02-25       98,52  81,51242667874808  17,263066708538275

In [79]:
join_df.head(2)

,Date,Close_Real_EYAC2,Volume_EYAC2,Close_Dolar_EYAC2,Price_Dolar_Petro,Volume_Petro,Índice_Ibovespa,Year-Month,Value_IPCA,Inflac_IPCA,IPCA_Acumulado
0,2010-01-29,33.935703,16106857.97,18.284323,72.89,335.27,65401.77,2010-1,0.75%,0.75,4.312028
1,2010-02-26,31.895180,17804380.32,17.368318,79.66,319.04,66503.27,2010-2,0.78%,0.78,4.592325

In [80]:
# Remoção de coluna
join_df = join_df.drop(columns=['Value_IPCA'])

In [81]:
join_df.head(2)

,Date,Close_Real_EYAC2,Volume_EYAC2,Close_Dolar_EYAC2,Price_Dolar_Petro,Volume_Petro,Índice_Ibovespa,Year-Month,Inflac_IPCA,IPCA_Acumulado
0,2010-01-29,33.935703,16106857.97,18.284323,72.89,335.27,65401.77,2010-1,0.75,4.312028
1,2010-02-26,31.895180,17804380.32,17.368318,79.66,319.04,66503.27,2010-2,0.78,4.592325

In [82]:
colunas =['Close_Real_EYAC2', 'Volume_EYAC2', 'Close_Dolar_EYAC2',
       'Price_Dolar_Petro', 'Volume_Petro', 'Índice_Ibovespa', 'Inflac_IPCA',
       'IPCA_Acumulado']

join_df[colunas] = join_df[colunas].astype("str")

In [83]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               180 non-null    object
 1   Close_Real_EYAC2   180 non-null    object
 2   Volume_EYAC2       180 non-null    object
 3   Close_Dolar_EYAC2  180 non-null    object
 4   Price_Dolar_Petro  180 non-null    object
 5   Volume_Petro       180 non-null    object
 6   Índice_Ibovespa    180 non-null    object
 7   Year-Month         180 non-null    object
 8   Inflac_IPCA        180 non-null    object
 9   IPCA_Acumulado     180 non-null    object
dtypes: object(10)
memory usage: 14.2+ KB

In [84]:
join_df[colunas] = join_df[colunas].map(lambda x: x.replace(".",","))

In [85]:
join_df.head()

,Date,Close_Real_EYAC2,Volume_EYAC2,Close_Dolar_EYAC2,Price_Dolar_Petro,Volume_Petro,Índice_Ibovespa,Year-Month,Inflac_IPCA,IPCA_Acumulado
0,2010-01-29,"33,93570267","16106857,97","18,28432255926724","72,89","335,27","65401,77",2010-1,"0,75","4,312028329689976"
1,2010-02-26,"31,8951796","17804380,32","17,36831823132215","79,66","319,04","66503,27",2010-2,"0,78","4,59232538033707"
2,2010-03-31,"37,11439121","16551869,4","20,546053592781224","83,76","371,96","70371,54",2010-3,"0,52","4,831571873002205"
3,2010-04-30,"30,47405338","15688008,79","17,322677000909504","86,15","392,14","67529,73",2010-4,"0,57","5,166363320101608"
4,2010-05-28,"29,27274015","20301487,26","15,80430847100745","73,97","420,67","61946,99",2010-5,"0,43","5,260560898712385"

In [86]:
# Enviar os DataFrames para o PostgreSQL
join_df.to_sql('join_dataframe', con=engine, if_exists='replace', index=False)
prev_real.to_sql('prev_real', con=engine, if_exists='replace', index=False)
prev_dolar.to_sql('prev_dolar', con=engine, if_exists='replace', index=False)
prev_petro.to_sql('prev_petro', con=engine, if_exists='replace', index=False)

print("Dados enviados com sucesso para o banco de dados!")

Dados enviados com sucesso para o banco de dados!