In [87]:
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

load_dotenv()

db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_name = os.getenv('DB_NAME')
db_ssl_mode = os.getenv('DB_SSL_MODE')

# Construir a URL de conexão
db_url = f'postgresql://{db_user}:{db_password}@{db_host}/{db_name}?sslmode={db_ssl_mode}'

# Criar o motor de conexão
engine = create_engine(db_url)

In [88]:
# Caminhos dos arquivos CSV
join_file_path = r'..\..\camada_ouro\Join_dataframes_new_end.csv'

# Carregar os arquivos CSV
join_df = pd.read_csv(join_file_path)

In [89]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3631 entries, 0 to 3630
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3631 non-null   object
 1   Datetime           3631 non-null   object
 2   Close_Real_EYAC2   3631 non-null   float64
 3   Volume_EYAC2       3631 non-null   float64
 4   Close_Dolar_EYAC2  3631 non-null   float64
 5   Price_Dolar_Petro  3631 non-null   float64
 6   Volume_Petro       3631 non-null   float64
 7   Change%_Petro      3631 non-null   object
 8   Índice_Ibovespa    3631 non-null   float64
 9   Change%_Ibovespa   3631 non-null   float64
 10  Value_IPCA         3631 non-null   object
dtypes: float64(7), object(4)
memory usage: 312.2+ KB

In [90]:
join_df.head(2)

,Date,Datetime,Close_Real_EYAC2,Volume_EYAC2,Close_Dolar_EYAC2,Price_Dolar_Petro,Volume_Petro,Change%_Petro,Índice_Ibovespa,Change%_Ibovespa,Value_IPCA
0,2010-01-04,2010-01-04 16:56:00,37.937621,13303743.87,22.005581,81.51,263.54,2.71%,70045.08,0.399893,0.75%
1,2010-01-05,2010-01-05 16:56:00,37.774220,21396519.48,21.927335,81.77,258.89,0.32%,70239.82,-3.775387,0.75%

In [91]:
# Limpeza de colunas com %
join_df['Change%_Petro'] = join_df['Change%_Petro'].str.replace('%', '').astype(float) / 100
join_df['Value_IPCA'] = join_df['Value_IPCA'].str.replace('%', '').astype(float) / 100
join_df['Change%_Ibovespa'] = join_df['Change%_Ibovespa'].astype("str")
join_df['Change%_Ibovespa'] = join_df['Change%_Ibovespa'].str.replace('%', '').astype(float) / 100

In [92]:
join_df.head(2)

,Date,Datetime,Close_Real_EYAC2,Volume_EYAC2,Close_Dolar_EYAC2,Price_Dolar_Petro,Volume_Petro,Change%_Petro,Índice_Ibovespa,Change%_Ibovespa,Value_IPCA
0,2010-01-04,2010-01-04 16:56:00,37.937621,13303743.87,22.005581,81.51,263.54,0.0271,70045.08,0.003999,0.0075
1,2010-01-05,2010-01-05 16:56:00,37.774220,21396519.48,21.927335,81.77,258.89,0.0032,70239.82,-0.037754,0.0075

In [93]:
colunas =['Close_Real_EYAC2', 'Volume_EYAC2', 'Close_Dolar_EYAC2',
       'Price_Dolar_Petro', 'Volume_Petro', 'Change%_Petro', 'Índice_Ibovespa',
       'Change%_Ibovespa', 'Value_IPCA']

join_df[colunas] = join_df[colunas].astype("str")

In [94]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3631 entries, 0 to 3630
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3631 non-null   object
 1   Datetime           3631 non-null   object
 2   Close_Real_EYAC2   3631 non-null   object
 3   Volume_EYAC2       3631 non-null   object
 4   Close_Dolar_EYAC2  3631 non-null   object
 5   Price_Dolar_Petro  3631 non-null   object
 6   Volume_Petro       3631 non-null   object
 7   Change%_Petro      3631 non-null   object
 8   Índice_Ibovespa    3631 non-null   object
 9   Change%_Ibovespa   3631 non-null   object
 10  Value_IPCA         3631 non-null   object
dtypes: object(11)
memory usage: 312.2+ KB

In [95]:
join_df[colunas] = join_df[colunas].map(lambda x: x.replace(".",","))

In [96]:
# Enviar os DataFrames para o PostgreSQL
join_df.to_sql('join_dataframe', con=engine, if_exists='replace', index=False)

print("Dados enviados com sucesso para o banco de dados!")

Dados enviados com sucesso para o banco de dados!